<div class="col-xs-12 col-md-5" local-class="col-division-right">
    {{project-contributors/search contributors=contributors}}
</div>
<div class="col-xs-12 col-md-7">
    <h2>{{t 'collections.project_contributors.title'}}</h2>
    <p>{{t 'collections.project_contributors.instructions'}}</p>
    {{project-contributors/list contributors=contributors}}
</div>